@import "../variables/colors";

#hero{
    padding: 100px 0;
    background-color: aqua;
    .container{
        display: flex;
        .box{
            height: 51px;
            width: 75%;
            font-size: 30px;
            background-color: aqua;
        
    .img{
        height: 51px;
    }
}
}
}